/* Define margem e preenchimento como zero para todos os elementos */

* {
    margin: 0;
    padding: 0;
}

.cabecalho  {
    background-color: #3c99d3;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    max-width: 30%;
    width: auto;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    font: 1em sans-serif;
}

.projeto-titulo {
    text-align: center;
    padding: 16px 0;
}

.projeto-div {
    text-align: center;
    padding: 50px 0;
}

.rodape  {
    background-color: #00000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}